:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #222;
  --color-dark-200: #444;
  --color-dark-300: #666;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #D8C3A3;
  --color-accent-200: #d9cab4;
  --color-accent-300: #dbd1c2;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #fff;
  --color-light-200: #efead8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #aaa;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "futura-pt", "Arial", sans-serif;
  --font-serif: "questa-grande", "Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1.125rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 75rem) [inner-end] minmax(32px, 1fr) [full-end];
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

.button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
}
.button svg {
  opacity: 1;
}
.button:hover {
  background-color: transparent;
  color: var(--color-light);
}

.site-header {
  position: fixed;
  height: 160px;
  width: 100%;
  display: grid;
  padding: 0 var(--gap-xl);
  z-index: 999;
}
@media screen and (max-width: 40rem) {
  .site-header {
    padding: 0 var(--gap-l);
  }
}
.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__branding {
  display: block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-l);
  position: relative;
}
.menu::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  max-width: 140px;
  width: 100%;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 var(--gap-xl) 0 0;
  right: 100%;
}
@media screen and (max-width: 62.5rem) {
  .menu::before {
    display: none;
  }
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
@media screen and (max-width: 55rem) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  color: var(--color-light);
  font-size: var(--font-size-2);
  transition: all 0.2s;
}
.menu__link:hover {
  color: var(--color-light-200);
}
.menu__button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  width: 34px;
  height: 34px;
  position: relative;
}
.menu__button svg {
  opacity: 1;
}
.menu__button:hover {
  background-color: transparent;
  color: var(--color-light);
}
.menu__button--close .hamburger, .menu__button:focus .hamburger {
  height: 0;
}
.menu__button--close .hamburger::before, .menu__button--close .hamburger::after, .menu__button:focus .hamburger::before, .menu__button:focus .hamburger::after {
  top: 0;
  transition: top 0.2s, transform 0.2s 0.2s, width 0s 0.2s;
}
.menu__button--close .hamburger::before, .menu__button:focus .hamburger::before {
  transform: rotate(-45deg);
}
.menu__button--close .hamburger::after, .menu__button:focus .hamburger::after {
  transform: rotate(45deg);
  width: 100%;
}
.menu__item--current {
  font-weight: 600;
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: var(--color-light);
  transition: height 0s 0.2s;
}
.hamburger::before, .hamburger::after {
  content: "";
  display: block;
  background-color: inherit;
  height: 2px;
  width: 100%;
  position: absolute;
  top: -8px;
  transition: top 0.2s 0.2s, transform 0.2s;
}
.hamburger::after {
  top: 8px;
  width: 70%;
  right: 0;
}

.hero {
  background-color: var(--color-light);
  height: 100vh;
  display: grid;
  padding: 32px;
  color: var(--color-light);
}
@media screen and (max-width: 62.5rem) {
  .hero {
    padding: 16px;
  }
}
.hero__inner {
  background-color: #000;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "hero-header" "hero-main" "hero-footer";
  align-items: center;
  position: relative;
}
.hero__video {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.hero__main {
  grid-area: hero-main;
  padding: var(--gap-m) var(--gap-xl);
  position: relative;
}
@media screen and (max-width: 30rem) {
  .hero__main {
    padding: var(--gap-m) var(--gap-m);
  }
}
.hero__footer {
  grid-area: hero-footer;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap-m);
  position: relative;
}
.hero__content {
  max-width: 50rem;
  width: 100%;
}
.hero__prev-link {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  opacity: 0.54;
  font-family: var(--font-serif);
  font-size: var(--font-size-1);
  transition: all 0.2s;
}
.hero__prev-link svg {
  opacity: 1;
}
.hero__prev-link:hover {
  background-color: transparent;
  color: var(--color-light);
}
@media screen and (max-width: 40rem) {
  .hero__prev-link {
    display: none;
  }
}
.hero__prev-link svg path {
  transition: fill 0.2s;
}
.hero__prev-link:hover {
  opacity: 1;
}
.hero__prev-link:hover svg path {
  fill: var(--color-accent);
}
.hero__pagination {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  flex: 1;
}
.hero__pagination::before {
  content: "";
  display: block;
  height: 1px;
  flex: 1;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 8vw;
}
@media screen and (max-width: 40rem) {
  .hero__pagination::before {
    margin-left: 0;
  }
}
@media screen and (max-width: 30rem) {
  .hero__pagination .button--next,
  .hero__pagination .button--prev {
    max-width: 2rem;
  }
}
.hero__pagination .button--next #Union_1, .hero__pagination .button--next #Union_2,
.hero__pagination .button--prev #Union_1,
.hero__pagination .button--prev #Union_2 {
  transition: all 0.2s;
}
.hero__pagination .button--next:hover #Union_1, .hero__pagination .button--next:hover #Union_2,
.hero__pagination .button--prev:hover #Union_1,
.hero__pagination .button--prev:hover #Union_2 {
  fill: var(--color-accent);
}
.hero__social {
  position: absolute;
  right: var(--gap-m);
  top: 40%;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: bottom right;
  display: flex;
  align-items: center;
}
.hero__social::before, .hero__social::after {
  content: "";
  display: block;
  height: 1px;
  width: 8vh;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 var(--gap-l);
}
.hero .counter {
  white-space: nowrap;
}
.hero .counter__total:before {
  content: "/ ";
}

.destination {
  padding-right: var(--gap-m);
}
.destination__category {
  font-size: var(--font-size-2);
  margin-bottom: var(--gap-m);
  display: block;
  color: var(--color-light-700);
}
@media screen and (max-width: 40rem) {
  .destination__category {
    font-size: var(--font-size-1);
  }
}
.destination__title {
  font-size: clamp(3rem, 8vw, 5.25rem);
  margin: 0;
}
.destination__subtitle {
  font-size: var(--font-size-4);
  font-size: clamp(var(--font-size-2), 5vw, var(--font-size-4));
  font-style: italic;
  font-weight: 300;
  margin: 0.5rem 0 0 0;
  color: var(--color-accent);
}
.destination__button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  margin-top: var(--gap-xl);
}
.destination__button svg {
  opacity: 0.34;
}
.destination__button:hover {
  background-color: transparent;
  color: var(--color-light);
}
@media screen and (max-width: 40rem) {
  .destination__button {
    font-size: var(--font-size-1);
  }
}
.destination__button svg {
  transition: all 0.2s;
}
.destination__button:hover svg {
  opacity: 1;
  transform: rotate(90deg);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}
.social__link {
  color: var(--color-light);
}

.destinations {
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
}
.destinations__inner {
  width: 100%;
  height: 100%;
}
.destinations__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-gap) 32px 0 32px;
}
@media screen and (max-width: 73rem) {
  .destinations__main {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 40rem) {
  .destinations__main {
    gap: 0;
  }
}
.destinations__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xl);
  padding: 0 2rem;
}
.destinations__content-title {
  font-size: var(--font-size-5);
  margin: 0 0 var(--gap-m) 0;
  color: var(--color-dark);
}
@media screen and (max-width: 31rem) {
  .destinations__content-title {
    font-size: var(--font-size-4);
  }
}
.destinations__content-text {
  font-size: var(--font-size-1);
  color: var(--color-dark-300);
}
@media screen and (max-width: 40rem) {
  .destinations__list {
    display: flex;
    justify-content: center;
  }
}
.destinations__list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
}
.destinations__list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 0 3.18rem;
}
.destinations__list-item svg {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.destinations__list-item svg #Union_3 {
  fill: var(--color-dark);
}
.destinations__list-item svg #Union_4 {
  fill: var(--color-accent);
}
.destinations__list-link {
  font-size: var(--font-size-2);
  color: var(--color-dark);
  opacity: 0.8;
  transition: all 0.3s;
}
@media screen and (max-width: 25rem) {
  .destinations__list-link {
    font-size: var(--font-size-1);
  }
}
.destinations__list-link::after {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background-color: var(--color-dark);
  opacity: 0.7;
  margin: 0;
  transition: all 0.3s;
}
.destinations__list-link:hover {
  color: var(--color-dark);
  opacity: 1;
}
.destinations__list-link:hover::after {
  width: 100%;
}
.destinations__list-link:hover ~ svg {
  visibility: visible;
  opacity: 1;
  transition: all 0.1s 0.3s;
}
.destinations__list-link:hover ~ svg #Union_3 {
  fill: var(--color-dark);
  opacity: 0.9;
}
.destinations__list-link:hover ~ svg #Union_4 {
  fill: var(--color-light);
}
.destinations__map {
  width: 100%;
  height: 100%;
}
.destinations__recommendations {
  display: block;
  padding: var(--gap-xl) 32px var(--section-gap) 32px;
}
.destinations__recommendations::before {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--color-dark);
  opacity: 0.34;
  margin: var(--gap-s) auto;
  width: 40vw;
}
.destinations__recommendations-content {
  padding: 0 var(--gap-m);
}
.destinations__recommendations-title {
  font-size: var(--font-size-4);
  margin: var(--gap-xl) 0 var(--gap-m) 0;
  color: var(--color-dark);
}
@media screen and (max-width: 31rem) {
  .destinations__recommendations-title {
    font-size: var(--font-size-3);
  }
}
.destinations__recommendations-text {
  font-size: var(--font-size-1);
  margin-bottom: var(--gap-xl);
  color: var(--color-dark-300);
}

.map {
  width: 100%;
  height: 26rem;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 40rem) {
  .map {
    display: none;
  }
}
.map img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.map button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 15px;
  border: 0;
  padding: 0.4rem;
  font-size: var(--font-size-2);
  text-decoration: none;
  align-items: center;
  opacity: 0.7;
  transition: all 0.2s;
}
.map button:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--color-accent-300);
}
.map__area-name--n-america {
  position: absolute;
  top: 30%;
  left: 15%;
}
@media screen and (max-width: 73rem) {
  .map__area-name--n-america {
    left: 22%;
  }
}
@media screen and (max-width: 50rem) {
  .map__area-name--n-america {
    left: 15%;
  }
}
.map__area-name--s-america {
  position: absolute;
  bottom: 35%;
  left: 20%;
}
@media screen and (max-width: 73rem) {
  .map__area-name--s-america {
    left: 25%;
  }
}
@media screen and (max-width: 50rem) {
  .map__area-name--s-america {
    left: 20%;
  }
}
.map__area-name--europe {
  position: absolute;
  top: 30%;
  left: 50%;
}
.map__area-name--africa {
  position: absolute;
  top: 50%;
  left: 48%;
}
.map__area-name--asia {
  position: absolute;
  top: 40%;
  right: 25%;
}
@media screen and (max-width: 73rem) {
  .map__area-name--asia {
    right: 30%;
  }
}
@media screen and (max-width: 55rem) {
  .map__area-name--asia {
    right: 25%;
  }
}
.map__area-name--oceania {
  position: absolute;
  bottom: 30%;
  right: 15%;
}
@media screen and (max-width: 73rem) {
  .map__area-name--oceania {
    right: 22%;
  }
}
@media screen and (max-width: 60rem) {
  .map__area-name--oceania {
    right: 17%;
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row: auto;
  gap: var(--gap-l);
  justify-items: center;
  padding: 0 var(--gap-xl);
}
@media screen and (max-width: 31rem) {
  .cards {
    padding: 0 var(--gap-s);
  }
}

.card {
  width: 250px;
  height: 250px;
  position: relative;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.75);
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.card:hover .card__destination {
  opacity: 1;
}
.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}
.card__destination {
  position: absolute;
  color: var(--color-accent-300);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-3);
  font-family: var(--font-serif);
  opacity: 0;
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
